<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>机场管理界面</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bookflight.css">
</head>
<body>
<table border="1px" width="100%" style="border-collapse: collapse;">
{#    <a href="../sims/add">添加学生</a>#}
    <tr>
        <th>IdNum</th>
        <th>CompanyCode</th>
        <th>名称</th>
        <th>地址</th>
        <th>电话</th>
        <th>操作</th>
    </tr>
    {% for aircompany in aircompanies %}
        <tr>
            <td align="center">{{ forloop.counter }} </td>
            <td align="center">{{ aircompany.code }} </td>
            <td align="center">{{ aircompany.companyname }} </td>
            <td align="center">{{ aircompany.address }} </td>
            <td align="center">{{ aircompany.phone }} </td>
            <td align="center">
{#                <a href="../sims/edit/?id={{ flight.flightid }}">#}
{#                    编辑#}ac
{#                </a>#}
                <a href="../aircompany/manage?accode={{ aircompany.code }}">
                    进入管理
                </a>
            </td>
        </tr>
    {% endfor %}

</table>
{#<div class="input">#}
{#    <label>购买张数：</label>#}
{#    <input type="number" value="购买张数">#}
{#    <input type="submit" value="提交">#}
{#</div>#}

</body>
</html>
