<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>机场管理界面</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bookflight.css">
</head>
<body>
<table border="1px" width="100%" style="border-collapse: collapse;">
{#    <a href="../sims/add">添加学生</a>#}
    <tr>
        <th>IdNum</th>
        <th>AirportCode</th>
        <th>名称</th>
        <th>地址</th>
        <th>电话</th>
        <th>操作</th>
    </tr>
    {% for airport in airports %}
        <tr>
            <td align="center">{{ forloop.counter }} </td>
            <td align="center">{{ airport.code }} </td>
            <td align="center">{{ airport.airportname }} </td>
            <td align="center">{{ airport.address }} </td>
            <td align="center">{{ airport.phone }} </td>
            <td align="center">
{#                <a href="../sims/edit/?id={{ flight.flightid }}">#}
{#                    编辑#}
{#                </a>#}
                <a href="../airport/airportmanage?airportcode={{ airport.code }}">
                    进入管理
                </a>
            </td>
        </tr>
    {% endfor %}

</table>
</body>
</html>
